* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* BUTTONS */


/* HEADER */
header {
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
header .header_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_container img {
    max-height: 80px;
}
.header_container .nav_shop {
    font-size: 1.6em;
    font-weight: 800;
    color: rgb(37, 86, 177);
    text-decoration: none;
    text-shadow: 2px 2px grey;
}
.header_container .nav_shop:hover {
    transform: scale(1.2);
    color: darkslateblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh  - 80px);
    background-color: lightgray;
    overflow-y: auto;
}

/* DRESSES */
.dresses_container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.dress_card {
    /* width: calc((100% / 3) - 20px); */
    flex-basis: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    background-color: white;
}
.dress_card img {
    max-height: 200px;
}
.dress_card img:hover {
    transform: scale(1.2);
}

.dress_show_container {
    overflow-y: auto;
}